.container {
    position: relative;
    bottom: 8px;
    width: 70vw;
    height: 62vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background: rgb(109,246,168);
    background: linear-gradient(90deg, rgba(109,246,168,1) 0%, rgba(173,255,210,1) 100%);
    border: 5px solid rgb(172, 217, 199);
    border-radius: 20px 0px 0px 0px;
}

.topMenu {
    background: rgb(255,251,251);
    background: linear-gradient(90deg, rgba(255,251,251,0.35591736694677867) 0%, rgba(255,252,252,1) 40%, rgba(255,255,255,0.3531162464985994) 100%);
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 100%;
    height: 22.07031vw;
}


#watermelonClick {
    position: relative;
    left: 2.5vw;
    bottom: 40px;
    width: 19.53vw;
    height: auto;
    transition: bottom 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1);
}

.melonHitbox {
    width: 9.375vw;
    height: 9.375vw;
    position: absolute;
    left: 4.88281vw;
    bottom: 8.51562vw;
    border-radius: 50%;
    z-index: 11;
}


.melonContainer {
    width: 35.15625vw;
    height: 22.07031vw;
    z-index: 10;
    position: absolute;
    left: -4.45312vw;
    top: 5.35000vw;
}

.melonButton {
    position: relative;
    left: 2.54688vw;
    bottom: 0.66406vw;
    width: 11.71875vw;
    height: auto;
}


.melonSquare {
    width: 26.04167vw;
    height: 26.04167vw;
    background: white;
    border-radius: 1.30208vw;
    position: relative;
    float: left;
    display: block;
}


.upgradeList {
    position: absolute;
    top: 22.03542vw;
    width: 26.4vw;
    height: 368px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3335084033613446) 47%, rgba(255,255,255,0.2046568627450981) 100%);
    bottom: 1.95312vw;
    display: block;
}

.upgradeContainer {
    width: 22.85156vw;
    height: 20.83333vw;
    margin-left: 0.97656vw;
    margin-top: 5.07812vw;
}


.upgrades {
    display: grid;
    width: 21.48438vw;
    height: 16.92708vw;
    position: relative;
    margin-left: 0.65104vw;
    margin-top: 1.04167vw;
    border-radius: 1.30208vw;
    background: rgb(183, 232, 151);
    z-index: 10;
    overflow: hidden;
    padding-top: 1.30208vw;
    }

.added {
    font-family: "Century Gothic";
    font-weight: bold;
}

.upgrade {
    background-color: #68c46b;
    width: 19.5vw;
    margin-top: 0.95vw;
    height: 16.2vh;
    top: -1.6vh;
    left: 1.2vw;
    border-radius: 1.3vw;
    overflow: hidden;
    position: relative;
}

.upgradeTitle {
    padding-top: 5px;
    color: black;
    left: 1.2vw;
    border-radius: 1.3vw;
    overflow: hidden;
    position: relative;
    font-family: "Century Gothic";
    font-size: 1.2vw;
    font-weight: 100;
}

.upgradeDescription {
    color: black;
    position: relative;
    bottom: 0.8vw;
    left: 1.4vw;
    max-width: 18vw;
    font-family: "Century Gothic";
    font-size: 0.9vw;
}

#melon-info {
    margin-top: 20px;
}

.upgradePrice {
    color: black;
    position: relative;
    bottom: 0.3vw;
    left: 1.4vw;
    max-width: 18vw;
    font-family: "Century Gothic";
    font-size: 0.9vw;
}

/* .description {
    
} */

.melonCounter {
    position: relative;
    display: inline-block;
    width: 19.5vw;
    height: 150px;
    top: 23vh;
    left: 12vw;
    text-align: center;
    font-size: 4vw;
    font-family: "Century Gothic";
}

.melonAmount {
    position: absolute;
    text-align: center;
    font-size: 6.6vw;
    width: 38vw;
    height: 120px;
    right: 10px;
    top: 4vw;
    display: inline-block;
    font-family: "Century Gothic";
}

.melonPerSec {
    text-align: center;
    width: 7vw;
    height: 20px;
    position: absolute;
    right: 17.5vw;
    bottom: 10vh;
    font-family: "Century Gothic";
    font-size: 1vw;
}

.buildingContainer{
    position: relative;
    display: block;
    float: right;
    top: 2vh;
    width: 43vw;
    height: 48vh;
}

.building {
    background: white;
    margin-left: 1.3vw;
    margin-bottom: 2vh;
    width: 17.5vw;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#buildingName{
    width: 9vw;
    height: 30px;   
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    font-size: 1.2vw;
    top: 2px;
    left: 0.325vw;
    z-index: 10;
}

.addedMelonsPerSec{
    width: 6.51vw;
    height: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    top: -24px;
    float: right;
    right: 5px;
    color: darkgreen;
}

.price{
    width: 9vw;
    height: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    text-align: right;
    left: 7vw;
    top: 40px;
    color: blue;
}

.count{
    width: 6.51vw;
    height: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    font-size:3.8vw;
    color: rgba(0, 0, 0, 0.2);
    left: 5.7vw;
    top: -25px;
}

#picture {
    width: 4vw;
    height: 60px;
    position: relative;
    left: 10px;
    top: -60px;
    border-radius: 5px;
}

/* CSS Styles for Elements with innerHTML */
#plantPrice,
#addedPlant,
#farmPrice,
#addedFarm {
  font-family: "Century Gothic";
  font-size: 1vw;
}

