.container {
    position: relative;
    bottom: 8px;
    width: 70vw;
    height: 93vh;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background: rgb(109,246,168);
    background: linear-gradient(90deg, rgba(109,246,168,1) 0%, rgba(173,255,210,1) 100%);
    border: 5px solid rgb(172, 217, 199);
    border-radius: 20px 0px 0px 0px;
    left: -9vw;
}

.topMenu {
    background: rgb(255,251,251);
    background: linear-gradient(90deg, rgba(255,251,251,0.35591736694677867) 0%, rgba(255,252,252,1) 40%, rgba(255,255,255,0.3531162464985994) 100%);
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 100%;
    height: 22.07031vw;
}


#watermelonClick {
    position: relative;
    left: 2.5vw;
    bottom: 40px;
    width: 19.53vw;
    height: auto;
    transition: bottom 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1);
}

.melonHitbox {
    width: 14.375vw;
    height: 14.375vw;
    position: absolute;
    left: 4.88281vw;
    bottom: 8.51562vw;
    border-radius: 50%;
    z-index: 11;
}


.melonContainer {
    width: 35.15625vw;
    height: 22.07031vw;
    z-index: 10;
    position: absolute;
    left: -4.45312vw;
    top: 5.35000vw;
}

.melonButton {
    position: relative;
    left: 2.54688vw;
    bottom: 0.66406vw;
    width: 11.71875vw;
    height: auto;
}


.melonSquare {
    width: 26.04167vw;
    height: 26.04167vw;
    background: white;
    border-radius: 1.30208vw;
    position: relative;
    float: left;
    display: block;
}


.upgradeList {
    position: absolute;
    top: 22.03542vw;
    width: 26.4vw;
    height: 23,9568vw;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3335084033613446) 47%, rgba(255,255,255,0.2046568627450981) 100%);
    bottom: 1.95312vw;
    display: block;
}

.upgradeContainer {
    width: 22.85156vw;
    height: 20.83333vw;
    margin-left: 0.97656vw;
    margin-top: 5.07812vw;
}


.upgrades {
    display: grid;
    width: 21.48438vw;
    height: 16.92708vw;
    position: relative;
    margin-left: 0.65104vw;
    margin-top: 1.04167vw;
    border-radius: 1.30208vw;
    background: rgb(183, 232, 151);
    z-index: 10;
    overflow: hidden;
    padding-top: 1.30208vw;
    }

.added {
    font-family: "Century Gothic";
    font-weight: bold;
}

.upgrade {
    background-color: #68c46b;
    width: 19.5vw;
    margin-top: 0.95vw;
    height: 16.2vh;
    top: -1.6vh;
    left: 1.2vw;
    border-radius: 1.3vw;
    overflow: hidden;
    position: relative;
}

.upgradeTitle {
    padding-top: 5px;
    color: black;
    left: 1.2vw;
    border-radius: 1.3vw;
    overflow: hidden;
    position: relative;
    font-family: "Century Gothic";
    font-size: 1.2vw;
    font-weight: 100;
}

.upgradeDescription {
    color: black;
    position: relative;
    bottom: 0.8vw;
    left: 1.4vw;
    max-width: 18vw;
    font-family: "Century Gothic";
    font-size: 0.9vw;
}

#melon-info {
    margin-top: 20px;
}

.upgradePrice {
    color: black;
    position: relative;
    bottom: 0.3vw;
    left: 1.4vw;
    max-width: 18vw;
    font-family: "Century Gothic";
    font-size: 0.9vw;
}

/* .description {
    
} */

.melonCounter {
    position: relative;
    display: inline-block;
    width: 19.5vw;
    height: 150px;
    top: 23vh;
    left: 12vw;
    text-align: center;
    font-size: 4vw;
    font-family: "Century Gothic";
}

.melonAmount {
    position: absolute;
    text-align: center;
    font-size: 6.6vw;
    width: 38vw;
    height: 120px;
    right: 10px;
    top: 4vw;
    display: inline-block;
    font-family: "Century Gothic";
    font-size: 5vw;
}

.melonPerSec {
    text-align: center;
    width: 7vw;
    height: 20px;
    position: absolute;
    right: 17.5vw;
    bottom: 10vh;
    font-family: "Century Gothic";
    font-size: 1vw;
}

.buildingContainer{
    position: relative;
    display: block;
    float: right;
    top: 2vh;
    width: 43vw;
    height: 48vh;
}

.building {
    background: white;
    margin-left: 1.3vw;
    margin-bottom: 2vh;
    width: 17.5vw;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#buildingName{
    width: 9vw;
    height: 30px;   
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    font-size: 1.2vw;
    top: 2px;
    left: 0.325vw;
    z-index: 10;
}

.addedMelonsPerSec{
    width: 6.51vw;
    height: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    top: -24px;
    float: right;
    right: 5px;
    color: darkgreen;
}

.price{
    width: 9vw;
    height: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    text-align: right;
    left: 7vw;
    top: 40px;
    color: green;
}

.count{
    width: 6.51vw;
    height: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    font-size:3.8vw;
    color: rgba(0, 0, 0, 0.2);
    left: 5.7vw;
    top: -25px;
}

#picture {
    width: 4vw;
    height: 60px;
    position: relative;
    left: 10px;
    top: -60px;
    border-radius: 5px;
}

/* CSS Styles for Elements with innerHTML */
#plantPrice,
#addedPlant,
#farmPrice,
#addedFarm {
  font-family: "Century Gothic";
  font-size: 1vw;
}

.apiContainer {
    width: 20vw;
    height: 94vh;
    position: absolute;
    right: 0px;
    top: 0.4vw;
    background: rgb(31,230,101);
    background: linear-gradient(0deg, rgba(31,230,101,0.5551470588235294) 0%, rgba(94,237,144,1) 33%, rgba(255,255,255,0.38707983193277307) 100%);
    border: 5px solid rgb(172, 217, 199);
    border-radius: 20px;
}

.apiRequestContainer {
    width: 90%;
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1vw;
    left: 0px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 9vw;
    min-height: 3vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: rgb(255,0,65);
    background: linear-gradient(90deg, rgba(255,0,65,1) 0%, rgba(240,151,172,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 0px 30px rgb(255,0,65,.65);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 5px;
    bottom: 15%;
    }
  
  button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(9vw + 12px);
    min-height: calc(3vw + 12px);
    border: 4px solid #ff8095;
    box-shadow: 0 0 60px rgba(255,0,65,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 10px; height: 10px;
    border-radius: 100%;
    border: 6px solid #ff8095;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 3s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 220px;
      height: 220px;
      opacity: 0;
    }
  }

#fruitInput {
    width: 13vw;
    height: 1.5vw;
    border-radius: 20px;
    background-color: white;
    border: 3px solid rgba(255,0,65,.64);
    padding: 3px;
    position: relative;
    left: 11%;
    top: 5%;
    margin: auto;
}

.apiDescription {
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    font-weight: 500;
}

.apiTitle {
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.8x;
    font-weight: 700;
}

  
#fruitData {
    padding: 10px;
    position: relative;
    bottom: 40%;
    padding-top: -10px;
  }
  
  #fruitData h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
  }
  
  #fruitData p {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Nunito', sans-serif;
  }
  
  #fruitData h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
  }
  
  #fruitData p:last-child {
    margin-bottom: 0;
  }

