.navigatie li {
    display: inline;
    width: 600px;
}

body {
    font-family: helvetica, sans-serif, Arial;
}
.navigatie a {
    display: block;
    display: inline;
    width: 500px;
    top: 17px;
    right: 100px;
    color: black;
    text-decoration: none;
    font-family: helvetica, sans-serif, Arial;
    position: relative;
    padding: 10px 20px;
    margin-left: 20px;
}
.navigatie ul {
    height: 50px;
    width: 600px;
    position: relative;
    right: -450px;  
}

.navigatie li a:hover {
    background-color: #6cff99;
    border-radius: 20px;
}
.navigatie menu, .navigatie {
    text-align: center;

}
.aside-menu {
  width: 400px;
  height: 100vw;
  background: lightgrey;  
  position: absolute;
  left: 0px;
  top: 0px;
  float: left;
  margin: 0; 
}

.aside-menu-header {
    position: relative;
    text-align: center;
    bottom: -70px;
}

.aside-menu-items {
    text-decoration: none;

}

.items {
    position: relative;
    top: 80px;
    padding: 20px;
    width: 320px;
    text-align: left;
    list-style: none;
    float: left;
    border-radius:30px 0px 0px 30px;
}

.items:hover {
    background-color: #6cff99;
}

.items:hover a {
    color:black;
}

.items a {
    text-decoration: none;
}

.navigatie li a:hover:not(.active) {
    background-color:#6cff99;
    border-radius: 20px;
  }
  
  .active {
    background-color: #6cff99;
    border-radius: 20px;
  }
  
.wie_titel {
    text-align: center;   
    position: absolute;
    top: 100px;
    left: 450px;
    width: 350px;
    font-size: 200%;

}

.persoonlijke_gegevens {
    position: absolute;
    top: 250px;
    left: 500px;
}

.artikel_hoofd {
    font-size: 150%;
    position: absolute;
    top: 250px;
    right: 200px;

}
.explanation {
    font-size: 80%;
    position: absolute;
    top: 100px;
    right: 450px;
}

.uitleg_studiekeuze {
    font-size: 80%
}

 .de_FAQ, .Dashboard_Titel, .Blog_stuk {
    font-size: 200%;
 }

 .Blog_stuk {
    position: absolute;
    left: 450px;

 }

    .studiekeuze {
        position: absolute;
        top: 300px;
     }

 
 .de_FAQ {
    position: absolute;
    right: 200px;
 }
 .Vragen_antwoorden {
    position: absolute;
    right: 350px;
    top: 250px;
 }




