
body {
    font-family: arial, verdana, helvetica; 
}
     #hoofdtekst {
      color:black;
      font-size: 300%;
      

    }

    body {
        background-color:bisque;
    } 

    #naam, #leeftijd, #Vooropleiding {
        font-size: 150%;
    }

    #woonplaats {
        font-size: 150%;
    }
    
    .Boz-foto img{
        width: 250px;
        margin: auto 5px;
        position: absolute;
        left: 400px;
        bottom: 450px
    }

    #ondertekst {
        font-size: 150%
    }

    #hobbies { 
        font-size: 150% 
    }
    #combineren {
        max-width: 300px;
        font-size: 120%;
    }
    
    #hoofdtekst {
        color: orange;
        font-size: 300%;
      
    }
      
     body {
          background-color:beige;
    } 
    