/*body*/

body {
  font-family: helvetica, sans-serif, Arial;
  margin-top: 50px;
  background-color: black;
  color: white;
  position: relative;
  margin: 0;
}

/*navigatie */

.navigatie_menu li {
  display: inline;
  width: 600px;
  margin: 0 0;
}

.navigatie_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 43%, rgba(255, 255, 255, 0) 100%);
  margin: 0, 0;
}

.navigatie_menu a {
  display: block;
  display: inline;
  width: 500px;
  top: -15px;
  right: 100px;
  color: white;
  text-decoration: none;
  font-family: helvetica, sans-serif, Arial;
  position: relative;
  padding: 5px 20px;
  margin-left: 20px;
  border-radius: 20px;

}

.navigatie_menu ul {
  height: 50px;
  width: 600px;
  position: relative;
  margin: 0 0;
  left: 100px;
  margin-top: 50px;
}

.navigatie_menu li a:hover {
  border: 1px white solid;
  border-radius: 20px;
}

.navigati_menu,
.navigatie {
  text-align: center;

}

.navigatie_menu a:hover:not(.active) {
  border: 2px white solid;
  border-radius: 20px;
}

.active {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  border-radius: 20px;
  border: 10px;
  border-color: white;
}

/*Bottom Menu*/

.BottomMenu {
  background-color: black;
  width: 100%;
  height: 250px;
  bottom: -500px;
  position: relative;
  border-top: grey solid 2px;
}


/* Index */

.Foto-Mezelf {
  width: 200px;
  height: auto;
  position: relative;
}

.TitelHome {
  font-size: 700%;
  text-align: center;
  position: relative;
  top: -900px;
}




.vorm-voor-foto {
  border-radius: 77% 23% 79% 21% / 53% 75% 25% 47% ;
  width: 300px;
  height: 300px;
  position: relative;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.Wit-wit {
  position: relative;
  background-color: white;
  color: white;
  height: 100%;
  width: 100%;
  top: 0px;
}

.Wit-zwart {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  height: 350px;
  position: relative;
  bottom: -300px;
  width: 100%;
}


.Wie {
  position: relative;
  top: -600px;
  color: white;
  padding: 30px;
}


.Wie-ben {
  font-size: 700%;
  color: white;
  position: relative;
  text-align: center;
  top: -500px;
  padding: 30px;
}

.Hobbies > h1 {
  color: black;
  font-size: 500%;
  position: relative;
}




.Tekening,
.Diablo,
.sombrerofoto {
  width: 320px;
  height: auto;
}

.Diablo {
  height: 43%;
}

.Tekening {
  height: 43%;
}


.Blok123 {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.blok1, .blok2, .blok3 {
  width: 320px;
  height: 300px;
  background-color:#f1faed;
  border-radius: 9px;
  margin-bottom: 10px;
  display: inline-block;
  align-items: center;
  margin-right: 20px;
  color: black;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.FotoNaarTekst {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  height: 350px;
  top: 520px;
}





.artikel_hoofd {
  font-size: 150%;
  position: absolute;
  top: 250px;
  right: 200px;

}

.explanation {
  font-size: 80%;
  position: absolute;
  top: 100px;
  right: 450px;
}

.uitleg_studiekeuze {
  font-size: 80%
}

.de_FAQ,
.DashboardTitel,
.Blog_stuk {
  font-size: 400%;
}

.DashboardTitel {
  font-size: 700%;
  color: white;
  position: relative;
  text-align: center;
  top: -700px;
  padding: 30px;
}



.Blog_stuk {
  position: relative;
  text-align: center;
  top: -600px;

}

.BlogBlok1,
.BlogBlok2,
.BlogBlok3,
.BlogBlok4 {
  position: relative;
  width: 400px;
  height: auto;
  display: inline-block;

}

.BlogBlokken {
  max-width: 900px;
  top: 100px;
}


.studiekeuze {
  position: absolute;
  top: 300px;
}

/*Grid systeem voor Dashboard*/



/*Grid systeem voor FaQ*/

.grid-container-faq {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  background-color: black;
  padding: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  position: relative;
  height: 300px;
}

.grid-container-faq>div {
  background-color: black;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 10px;
  border: solid #2b2a28 1px;
}

.grid-item1>h2 {
  font-size: 80%;
  position: relative;
  text-align: left;
  margin-left: 30px;
  width: 550px;
  color: white;
  top: -20px;
}

.grid-item1>p {
  font-size: 60%;
  text-align: left;
  margin-left: 40px;
  margin-right: 20px;
  position: relative;
  bottom: 27px;
  color: white;
}

.grid-item2>h2 {
  position: relative;
  font-size: 80%;
  width: 240px;
  top: -20px;
  text-align: left;
  margin-left: 20px;
  color: white;
}

.grid-item2>p {
  position: relative;
  font-size: 60%;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-item3>h2 {
  position: relative;
  font-size: 80%;
  top: -20px;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.grid-item3>p,
.grid-item4>p {
  position: relative;
  font-size: 60%;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -23px;
}

.grid-item4>h2 {
  position: relative;
  font-size: 65%;
  top: -20px;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 5px;
}




.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 150px;
  width: 590px;
}

.grid-item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
  height: 360px;
  width: 285px;
}

.grid-item3 {
  grid-column: 1;
  grid-row: 2 / span 2;
  height: 360px;
  width: 285px;
}

.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7 {
  height: 150px;
  width: 285px;
}

.grid-item8 {
  height: 150px;
  grid-column-start: 2;
  grid-column-end: 4;
}




.de_FAQ {
  position: absolute;
  top: 150px;
  max-width: 900px;
  font-size: 700%;
  margin-left: 350px;

}

.FaQ1 {
  margin-left: auto;
  margin-right: auto;
}

.Vragen_antwoorden {
  position: relative;
  top: -800px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  color: black;
}

.Corona_link {
  color: white;
}

#AchtergrondVideo {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  opacity: 0.4;
}



/*Dashboard tabel */

.DashTabel {
  border: 1px solid white;
  position: relative;
  color: white;
  text-align: left;
  font-size: 170%;
  width: 800px;
  border-collapse: collapse;
  top: -20px;
}

.DashTabel tr td {
  border: 1px solid white;
}



.Kwartaal {
  Color: white;
  position: relative;
  font-size: 200%;
  top: -17px;
}

.GridDash {
  display: grid;
  grid-template-columns: auto;
  gap: 70px;
  background-color: black;
  padding: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  top: -700px;
  position: relative;
  height: 600px;
}

.Grid1D {
  width: 900px;
  height: 300px;
  background-color: black;
  border: solid #2b2a28 1px;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  top: 200px;
  display: grid;
}

.NBSA {
  top: 200px;
  position: relative;
  max-width: 900px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.NBSA>h1 {
  font-size: 300%;
}

.NBSA>p {
  font-size: 150%;
}