/*body*/
:root {
  /* Color Variables */
  --background-color: white;
  --text-color: black;
  --background-color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6730042358740371) 62%, rgba(255, 255, 255, 1) 100%);
  --video-invertor: invert(1);
  --navMenu-gradient: linear-gradient(180deg, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 0) 100%);
  --video-naar-tekst: linear-gradient(180deg, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 0) 100%);
  --pageContainer-Color: rgba(126, 128, 130, 0.23);
  --border-navigatie: 2px black solid;
  --element-width: 0%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Color Variables */
    --background-color: black;
    --text-color: white;
    --background-color-gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%);
    --video-invertor: invert(0);
    --navMenu-gradient: linear-gradient(180deg, rgba(0, 0, 0, 1) 41%, rgba(255, 255, 255, 0) 100%);
    --video-naar-tekst: linear-gradient(180deg, rgba(0, 0, 0, 1) 21%, rgba(255, 255, 255, 0) 100%);
    --pageContainer-Color: rgba(126, 128, 130, 0.502);
    --border-navigatie: 2px white solid;
    --element-width: 0%;
  }
}

body {
  font-family: helvetica, sans-serif, Arial;
  margin-top: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  margin: 0;
}

/*navigatie */

.navigatie_menu li {
  display: inline;
  width: 600px;
  margin: 0 0;
  color: var(--text-color);
}

.navigatie_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  background: var(--navMenu-gradient);
  color: var(--text-color);
  margin: 0, 0;
}

.navigatie_menu a {
  display: block;
  display: inline;
  width: 500px;
  top: -15px;
  right: 100px;
  color: var(--text-color);
  text-decoration: none;
  font-family: helvetica, sans-serif, Arial;
  position: relative;
  padding: 5px 20px;
  margin-left: 20px;
  border-radius: 20px;

}

.navigatie_menu ul {
  height: 50px;
  width: 600px;
  position: relative;
  margin: 0 0;
  left: 100px;
  margin-top: 50px;
}

.navigatie_menu li a:hover {
  border-radius: 20px;
}

.navigatie_menu,
.navigatie {
  text-align: center;
}

.navigatie_menu a:hover:not(.active) {
  border: var(--border-navigatie);
  border-radius: 20px;
}

.active {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  border-radius: 20px;
  border: 10px;
  border-color: white;
}


/*Bottom Menu*/

.bottommenu {
  background-color: var(--background-color);
  width: 100%;
  height: 250px;
  vertical-align: baseline;
  position: absolute;
  border-top: grey solid 2px;
  text-align: center;
  vertical-align: bottom;
  bottom: -1300px;
}

.bottommenuFaQ {
  background-color: var(--background-color);
  width: 100%;
  height: 250px;
  vertical-align: baseline;
  position: absolute;
  border-top: grey solid 2px;
  text-align: center;
  vertical-align: bottom;
  bottom: -1400px;
}

.bottommenudashboard {
  background-color: var(--background-color);
  width: 100%;
  height: 250px;
  vertical-align: baseline;
  position: absolute;
  border-top: grey solid 2px;
  text-align: center;
  vertical-align: bottom;
  bottom: -1880px;
}

.bottommenuprofile {
  background-color: var(--background-color);
  width: 100%;
  height: 100px;
  vertical-align: baseline;
  position: absolute;
  border-top: grey solid 2px;
  text-align: center;
  vertical-align: bottom;
  bottom: -1900px;
}

.bottommenublog {
  background-color: var(--background-color);
  width: 100%;
  height: 100px;
  vertical-align: baseline;
  position: absolute;
  border-top: grey solid 2px;
  text-align: center;
  vertical-align: bottom;
  bottom: -3400px;
}

ul .bottommenu,
ul .bottommenudashboard,
ul .bottommenuprofile,
ul .bottommenublog,
ul .bottommenuFaQ {
  color: black;
}

.bottommenu li,
.bottommenudashboard li,
.bottommenuprofile li,
.bottommenublog li,
.bottommenuFaQ li {
  margin-top: 20px;
  color: black;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  border-radius: 20px;
  border: 10px;
  border-color: white;
  margin: 10 30;
  padding: 10px;
  width: 900px;
  display: inline;
  margin-right: 20px;
}

.bottommenu a,
.bottommenudashboard a,
.bottommenuprofile a,
.bottommenublog a,
.bottommenuFaQ a {
  color: black;
  text-decoration: none;
  padding: 10px;

}

/* Index */

.pageContainer {
  width: 1000px;
  top: 870px;
  position: absolute;
  text-align: center;
  margin-left: 250px;
  margin-right: auto;
  background: var(--pageContainer-Color);
  height: 120%;
  z-index: -2;
}

.blogContainer {
  width: 1000px;
  top: 870px;
  position: absolute;
  text-align: center;
  margin-left: 250px;
  margin-right: auto;
  background: var(--pageContainer-Color);
  height: 330%;
  z-index: -2;
}

.containersafari {
  width: 1000px;
  top: 870px;
  position: absolute;
  text-align: center;
  margin-left: 250px;
  margin-right: auto;
  background: var(--pageContainer-Color);
  height: 330%;
  z-index: -2;
}

.FaQContainer {
  width: 1000px;
  top: 870px;
  position: absolute;
  text-align: center;
  margin-left: 250px;
  margin-right: auto;
  background: var(--pageContainer-Color);
  height: 150%;
  z-index: -2;
}

.pageContainerProfiel {
  width: 1000px;
  top: 870px;
  position: absolute;
  text-align: center;
  margin-left: 250px;
  margin-right: auto;
  background: var(--pageContainer-Color);
  height: 190%;
  z-index: -2;
  color: var(--text-color);
}

.foto-entekst {
  position: absolute;
  left: 600px;
}

.Foto-Mezelf {
  width: 300px;
  height: auto;
  position: relative;
  left: 0px;
  bottom: 150px;
}

.TitelHome {
  font-size: 700%;
  text-align: center;
  position: relative;
  top: -600px;
}

.waaromvoormij {
  text-align: left;
  max-width: 380px;
  margin-left: auto;
  left: -500px;
  position: relative;
  color: var(--text-color);
  top: 250px;
}

.vorm-voor-foto {
  border-radius: 77% 23% 79% 21% / 53% 75% 25% 47%;
  width: 300px;
  height: 300px;
  top: -80px;
  position: relative;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  overflow: hidden;
  border: 3px solid white;
}

.Wit-wit {
  position: relative;
  background-color: white;
  color: white;
  height: 100%;
  width: 100%;
  top: 0px;
}

.Wit-zwart {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  height: 350px;
  position: relative;
  bottom: -300px;
  width: 100%;
}

.boottekst {
  position: absolute;
  border-radius: 20px;
  display: grid;
  place-items: center;
  bottom: -300px;
  margin-left: 220px;
}

.logotekst {
  display: inline;
  width: 250px;
  position: relative;
  justify-content: center;
  padding: 20px;
}

.Wie {
  position: relative;
  color: black;
  top: -400px;
  width: 550px;
  height: 300px;
  font-size: 130%;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  display: flex;
  border-radius: 0px 0px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}


.fotoboot {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 550px;
  height: auto;
  top: -400px;
}

/*profiel*/

.wiebeniktitel {
  font-size: 500%;
  position: relative;
  color: var(--text-color);
  top: -600px;
  text-align: center;
}

.Wie-Ben-Ik {
  top: 300px;
  width: 600px;
  left: 5%;
  position: relative;
  color: var(--text-color);
  text-align: left;
}

.ijsfoto {
  width: 270px;
  height: auto;
  left: 620px;
  top: -450px;
  position: relative;
  border-radius: 20px;
}

.ulkenmerken {
  font-size: 120%;
  list-style: none;
}

.ulkenmerken>li {
  margin-top: 10px;
}


.wit-vlak {
  width: 100%;
  background-color: black;
  height: 633px;
}

.Hobbies>h1 {
  color: var(--text-color);
  font-size: 500%;
  position: relative;
}

.Hobbies .almijnhobbies {
  position: relative;
  top: 100px;
}

.Diablo {
  position: relative;
  width: 400px;
  height: 200px;
  left: 150px;
}

.sombrerofoto {
  position: relative;
  width: 400px;
  height: 200px;
  left: -150px;
}

.Tekening {
  position: relative;
  width: 450px;
  height: 180px;
  left: -120px;
}

.Blok123 {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  position: relative;
  top: -50px;
  left: 12px;
}


.TitelHobbies {
  font-size: 400%;
  color: white;
  text-align: center;
  top: -140px;
  position: relative;
}

.blok1,
.blok2,
.blok3 {
  width: 700px;
  height: 220px;
  border-radius: 16px;
  margin-bottom: 10px;
  align-items: center;
  margin: auto;
  color: var(--text-color);
  background: var(--background-color);
  padding: 20px;
  font-size: 150%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  top: 600px;
}

.blok1 {
  margin-left: 120px;
  position: relative;
  top: -120px;
}

.blok1 h2 {
  position: relative;
  left: 200px;
  bottom: 230px;
}

.blok1 p {
  position: relative;
  font-size: 80%;
  max-width: 200px;
  text-align: left;
  left: 450px;
  bottom: 250px;
}

.blok2 {
  margin-left: 120px;
  position: relative;
  top: -70px;
}

.blok2 h2 {
  position: relative;
  right: 200px;
  bottom: 240px;
}

.blok2 p {
  position: relative;
  font-size: 80%;
  max-width: 200px;
  text-align: left;
  bottom: 260px;
}

.blok3 {
  margin-left: 120px;
  position: relative;
  top: -20px;
}

.blok3 h2 {
  position: relative;
  left: 200px;
  bottom: 230px;
}

.blok3 p {
  position: relative;
  font-size: 80%;
  max-width: 200px;
  text-align: left;
  left: 480px;
  bottom: 250px;
}

.FotoNaarTekst {
  background: var(--background-color-gradient);
  background: var(--background-color-gradient);
  position: absolute;
  width: 100%;
  height: 350px;
  top: 520px;
}

.pageContainerFade {
  height: 250px;
  width: 100%;
  position: absolute;
  top: 870px;
  background: var(--video-naar-tekst);
}

/*Dashboard*/

.artikel_hoofd {
  font-size: 150%;
  position: absolute;
  top: 250px;
  right: 200px;

}

.explanation {
  font-size: 80%;
  position: absolute;
  top: 100px;
  right: 450px;
}

.uitleg_studiekeuze {
  font-size: 80%
}

.de_FAQ,
.DashboardTitel,
.Blog_stuk {
  font-size: 400%;
}

.DashboardTitel {
  font-size: 700%;
  color: var(--text-color);
  position: relative;
  text-align: center;
  top: -700px;
  padding: 30px;
}

.progressbarTotal {
  background-color: rgba(130, 130, 130, 0.67);
  border: 3px solid grey;
  width: 900px;
  z-index: 100;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
  position: relative;
  overflow: hidden;
  top: 10px;
}

input{
  width: 200px;
  color: var(--text-color);
  background: var(--background-color);
  border-radius: 7px;
  border: var(--border-navigatie)
}
.progressbarImput {
  width: 100px;
  height: 50px;
  border-radius: 15px 0px 0px 15px;
}

.rainbow-bg {
  animation: rainbow-bg 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow-bg {

  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }

  8% {
    background-color: rgb(255, 127, 0);
  }

  16% {
    background-color: rgb(255, 255, 0);
  }

  25% {
    background-color: rgb(127, 255, 0);
  }

  33% {
    background-color: rgb(0, 255, 0);
  }

  41% {
    background-color: rgb(0, 255, 127);
  }

  50% {
    background-color: rgb(0, 255, 255);
  }

  58% {
    background-color: rgb(0, 127, 255);
  }

  66% {
    background-color: rgb(0, 0, 255);
  }

  75% {
    background-color: rgb(127, 0, 255);
  }

  83% {
    background-color: rgb(255, 0, 255);
  }

  91% {
    background-color: rgb(255, 0, 127);
  }
}

.my-element {
  width: var(--element-height);
}

/*blog*/

.Blog_stuk {
  position: relative;
  text-align: center;
  top: -600px;
  margin: auto;
}

.BlogBlok1,
.BlogBlok2,
.BlogBlok3,
.BlogBlok4,
.BlogBlok5 {
  width: 660px;
  height: 460px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
}

.BlogBlokken {
  top: 100px;
  position: relative;
  margin: auto;
  width: 100%;

}

.blokonderblog {
  width: 620px;
  height: 80px;
  background: rgb(0, 0, 0);
  background: linear-gradient(79deg, rgba(0, 0, 0, 0.49933476808692223) 0%, rgba(0, 0, 0, 0.7) 100%);
  position: absolute;
  color: white;
  z-index: 10;
  top: 595px;
  text-align: center;
  font-size: 190%;
  padding: 20px;
}

h2 .blokonderblog {
  text-align: center;
  font-size: 190%;
  padding: 20px;
}

.BlogTable {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  position: relative;
  border: solid white 1px;
  padding: 10px;
  text-align: left;
}

.BlogProgrammeren {
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
}

.feedbacktitel {
  font-size: 300%;
  text-align: center;
  top: 100px;
  position: relative;
}

.titelProgrammeren {
  font-size: 300%;
  text-align: center;
  top: 50px;
}

.bedrijf1 {
  width: 900px;
  background: var(--background-color);
  height: 500px;
  top: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.bedrijf2 {
  width: 900px;
  background: var(--background-color);
  height: 500px;
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 300px;
}

.bedrijf3 {
  width: 900px;
  background: var(--background-color);
  height: 500px;
  top: 300px;
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.bedrijf1Foto {
  position: relative;
  width: 300px;
  height: auto;
  margin-top: 50px;
  margin-left: 50px;
  left: -200px;
}

.bedrijf1Titel {
  position: relative;
  display: inline;
  bottom: 270px;
  font-size: 240%;
}

.bedrijf1Tekst {
  position: relative;
  bottom: 270px;
  max-width: 400px;
  font-size: 120%;
  left: 430px;
  text-align: left;
}

.textContainer {
  position: relative;
  top: 150px;
}

.feedbacktext,
.programmerentext {
  width: 600px;
  position: relative;
  margin: auto;
  top: 150px;
  font-size: 150%;
  max-width: 700px;
  text-align: left;
}

.BlogProgrammeren {
  text-align: left;
}

#pageContainerProgramming {
  height: 1400px;
}

#pageContainerFeedback {
  height: 1600px;
}

#pageContainerSWOT {
  height: 900px;
}

.swottitel {
  font-size: 400%;
  position: relative;
  top: 100px;
  text-align: center;
}

.swotintro {
  position: relative;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  font-size: 150%;
  text-align: left;
}

#blogContainerSafari {
  height: 2100px;
}

.studiekeuze {
  position: absolute;
  top: 300px;
}

/*Grid systeem voor FaQ*/

.grid-container-faq {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  position: relative;
  height: 830px;
}

.grid-container-faq a {
  color: white;
}

.grid-container-faq>div {
  background-color: black;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 10px;
  border: solid #2b2a28 1px;
}

.grid-item1>h2 {
  font-size: 80%;
  position: relative;
  text-align: left;
  margin-left: 30px;
  width: 550px;
  color: white;
  top: -20px;

}

.grid-item1>p {
  font-size: 60%;
  text-align: left;
  margin-left: 40px;
  margin-right: 20px;
  position: relative;
  bottom: 27px;
  color: white;
}

.grid-item2>h2 {
  position: relative;
  font-size: 80%;
  width: 240px;
  top: -20px;
  text-align: left;
  margin-left: 20px;
  color: white;
}

.grid-item2>p {
  position: relative;
  font-size: 60%;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-item3>h2 {
  position: relative;
  font-size: 80%;
  top: -20px;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.grid-item3>p,
.grid-item4>p,
.grid-item5>p,
.grid-item6>p,
.grid-item7>p,
.grid-item8>p {
  position: relative;
  font-size: 60%;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -23px;
}

.grid-item4>h2,
.grid-item5>h2,
.grid-item6>h2,
.grid-item7>h2,
.grid-item8>h2 {
  position: relative;
  font-size: 65%;
  top: -20px;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 5px;
}




.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 150px;
  width: 590px;
  background: rgb(4, 93, 255);
  background: linear-gradient(79deg, rgba(4, 93, 255, 1) 0%, rgba(51, 156, 156, 1) 0%, rgba(0, 32, 85, 1) 0%, rgba(0, 105, 133, 1) 99%, rgba(0, 124, 79, 1) 100%, rgba(30, 57, 32, 1) 100%);

}

.grid-item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
  height: 360px;
  width: 285px;
  background: rgb(54, 126, 100);
  background: linear-gradient(79deg, rgba(54, 126, 100, 1) 0%, rgba(34, 95, 95, 1) 1%, rgba(2, 46, 126, 1) 100%, rgba(0, 201, 255, 1) 100%, rgba(146, 254, 157, 1) 100%);
}

.grid-item3 {
  grid-column: 1;
  grid-row: 2 / span 2;
  height: 360px;
  width: 285px;
  background: rgb(0, 201, 255);
  background: linear-gradient(79deg, rgba(0, 201, 255, 1) 0%, rgba(22, 61, 61, 1) 0%, rgba(25, 55, 44, 1) 100%, rgba(146, 254, 157, 1) 100%);
}

.grid-item4 {
  height: 150px;
  width: 285px;
  background: rgb(54, 126, 100);
  background: rgb(2, 46, 126);
  background: linear-gradient(79deg, rgba(2, 46, 126, 1) 0%, rgba(54, 126, 100, 1) 0%, rgba(34, 95, 95, 1) 1%, rgba(30, 57, 32, 1) 100%, rgba(0, 201, 255, 1) 100%);

}

.grid-item5 {
  height: 150px;
  width: 285px;
  background: rgb(4, 93, 255);
  background: linear-gradient(79deg, rgba(4, 93, 255, 1) 0%, rgba(51, 156, 156, 1) 0%, rgba(0, 32, 85, 1) 0%, rgba(0, 105, 133, 1) 99%, rgba(0, 124, 79, 1) 100%, rgba(30, 57, 32, 1) 100%);
}

.grid-item6 {
  height: 150px;
  width: 285px;
  background: rgb(8, 93, 234);
  background: linear-gradient(79deg, rgba(8, 93, 234, 1) 0%, rgba(4, 93, 255, 1) 0%, rgba(51, 156, 156, 1) 0%, rgba(0, 124, 79, 1) 99%, rgba(0, 105, 133, 1) 100%, rgba(30, 57, 32, 1) 100%);
}

.grid-item7 {
  height: 150px;
  width: 285px;
  background: rgb(4, 93, 255);
  background: linear-gradient(79deg, rgba(4, 93, 255, 1) 0%, rgba(51, 156, 156, 1) 0%, rgba(3, 49, 125, 1) 2%, rgba(0, 105, 133, 1) 100%, rgba(0, 124, 79, 1) 100%, rgba(30, 57, 32, 1) 100%);
}

.grid-item8 {
  height: 150px;
  grid-column-start: 2;
  grid-column-end: 4;
  background: rgb(2, 46, 126);
  background: linear-gradient(79deg, rgba(2, 46, 126, 1) 0%, rgba(54, 126, 100, 1) 0%, rgba(34, 95, 95, 1) 1%, rgba(30, 57, 32, 1) 100%, rgba(0, 201, 255, 1) 100%);
}

.de_FAQ {
  position: absolute;
  top: 150px;
  max-width: 900px;
  font-size: 700%;
  margin-left: 350px;

}

.FaQ1 {
  margin-left: auto;
  margin-right: auto;
}

.Vragen_antwoorden {
  position: relative;
  top: -800px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  color: black;
}

.Corona_link {
  color: white;
}

#AchtergrondVideo {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  opacity: 0.4;
  filter: var(--video-invertor);
}

/*Dashboard tabel */

.DashTabel {
  border: 1px solid white;
  position: relative;
  color: var(--text-color);
  text-align: left;
  font-size: 170%;
  width: 800px;
  border-collapse: collapse;
  top: -20px;
}

.DashTabel tr td {
  border: 1px solid;
  color: var(--text-color);
}

.dashContainer {
  height: 2300px;
}

.Kwartaal {
  color: var(--text-color);
  position: relative;
  font-size: 200%;
  top: -17px;
}

.GridDash {
  display: grid;
  grid-template-columns: auto;
  gap: 70px;
  padding: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  position: relative;
  height: 1500px;
}

.Grid1D {
  width: 870px;
  height: 300px;
  background: var(--background-color);
  border: solid #2b2a28 1px;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 30px;
  top: 200px;
  display: grid;
}

.NBSA {
  top: 1600px;
  position: relative;
  max-width: 900px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.NBSA>h1 {
  font-size: 300%;
}

.NBSA>p {
  font-size: 150%;
}

.hz-foto {
  height: 50px;
  padding: 20px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.BlogStudieKeuze {
  width: 600px;
  position: relative;
  margin: auto;
  top: 150px;
  font-size: 150%;
  max-width: 700px;
  text-align: left;
}

.feedbacktext {
  width: 600px;
  font-size: 130%;
}

::-webkit-scrollbar {
  width: 1.5em;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: rgb(146, 254, 157);
  background: linear-gradient(180deg, rgba(146, 254, 157, 1) 0%, rgba(0, 201, 255, 1) 100%);
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 100vw;
  border: 4px solid rgba(100, 100, 100, 0.2)
}